<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="container">
        <h1>Título</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe sapiente velit laboriosam delectus? Doloribus
            nostrum praesentium quibusdam ducimus quod a, quis unde! Commodi reiciendis aliquid vel asperiores aperiam
            voluptatibus sit!
        </p>

        <form class="form" action="">

            <label class="label" for="teste1">Teste 1</label>
            <input class="input" type="text" name="" id="teste1">

            <label class="label" for="teste2">Teste 2</label>
            <input class="input" type="password" name="" id="teste2">

            <label class="label" for="teste3">Teste 3</label>
            <input class="input" type="email" name="" id="teste3">

            <label class="label" for="teste4">Teste 4</label>
            <input class="input" type="number" name="" id="teste4">

            <button class="button">Enviar</button>

        </form>
    </section>
    <script src="./assets/js/bundle.js"></script>
</body>

</html>